* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  padding: 2rem;
}

/* Grid Layout */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}



/* Mobile responsive: 1 column under 1000px */
@media (max-width: 1000px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }
}




/* Card reused from Part 1 */
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  padding-bottom: 2.25rem;
  border-radius: 1.25rem;
  max-width: 280px;
  width: 100%;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.grid li {
  width: 300px;
}


.qr-image {
  width: 100%;
  max-width: 288px;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
  border-radius: 0.75rem;
}

.card h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 1rem;
  line-height: 1.3;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  line-height: 1.5;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}
